@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes counter-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.counter-up {
  animation: counter-up 0.5s ease-out;
}

.bg-logo {
  background-image: url('../public/image/lowOpticityLogo.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.title-animations {
  animation: blink 6s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.containerCard {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;
}

.containerCard .card .face{
  width:300px;
  height: 200px;
  transition:.4s;
  
}

.containerCard .card .face.face1{
  position: relative;
  background:#c86500;
  display: flex;
  justify-content: center;
  align-content:center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.containerCard .card:hover .face.face1{
  transform: translateY(0);
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px rgba(255, 230, 0, 0.795),
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #e7923d,
    inset -20px 0 300px rgb(238, 255, 0),
    0 0 50px #fff,
    -10px 0 80px #e7923d,
    10px 0 80px #0ff;
   
}


.containerCard .card .face.face1 .content{
  transition:  0.5s;
  text-align: center;


}

.containerCard .card:hover .face.face1 .content{
  opacity: 1;
 
}

.containerCard .card .face.face1 .content i{
  font-size: 4em;
  color: white;
  display: inline-block;
   
}

.containerCard .card .face.face1 .content h3{
  font-size: 2em;
  color: white;
  text-align: center;
  font-weight: 700;
  

}

.containerCard .card .face.face1 .content a{
   transition: .5s;
}

.containerCard .card .face.face2{
   position: relative;
   background: whitesmoke;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px #e7923d;
  transform: translateY(-100px);
}

.containerCard .card:hover .face.face2{
    transform: translateY(0);


}

.containerCard .card .face.face2 .content p, a{
  font-size: 10pt;
  margin: 0 ;
  padding: 0;
  color:#c96b0e;
}

.containerCard .card .face.face2 .content a{
  text-decoration:none;
  color: #e7923d;
  box-sizing: border-box;
  outline : 1px dashed #e7923d;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}

.containerCard .card .face.face2 .content a:hover{
  background: rgba(255, 230, 0, 0.795);
  color: whitesmoke; 
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}
